#chatContent {
    background-color: #c3ffff;
    border-radius: 10px;
    margin-left: calc(50% - 200px);
    width: 400px;
    height: 500px; overflow-y: scroll;
    overflow-x: hidden;
}

#chatContent::-webkit-scrollbar {
    display: none;
}

.line {
    margin-top: 10px; display: flex;
}

.profile {
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.chat:not(#input) {
    background: #eee; padding: 5px; max-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.chat:not(.myChat) {
    margin-left: 5px;
}

.myChat {
    margin-left: auto;
    margin-right: 5px;
}

#input {
    width: 350px;
    height: 40px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: none;
    background-color: #eee;
    border: none;
    border-radius: 10px;
}

#send {
    background-color: rgb(210, 210, 210);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

/* .copyright {
    margin-left: calc(50% - 136.65px);
    margin-bottom: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
} */

@media (max-width: 1000px) {
    #chatContent {
        margin-left: calc(50% - 175px);
        width: 350px;
    }

    #input {
        width: 270px;
        margin-top: 10px;
        margin-left: calc(50% - 150px);
    }

    #send {
        width: 30px;
        height: 30px;
    }

}