#chatContent {
    background-color: rgb(255, 220, 19);
    border-radius: 10px;
    margin-left: calc(50% - 200px);
    width: 400px;
    height: 600px; overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 15px;
}

#chatContent::-webkit-scrollbar {
    display: none;
}

.line {
    margin-top: 10px; display: flex;
}

.background {
    position: absolute;
    margin-left: calc(50% - 213px);
    background-color: black;
    border-radius: 10px;
    width: 410px;
    height: 660px;
    z-index: -1;
    margin-top: -6px;
}

.profile img {
    margin-left: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.chat:not(#input) {
    background: #eee; padding: 5px; max-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.chat:not(.myChat) {
    margin-left: 5px;
}

.myChat {
    margin-left: auto;
    margin-right: 5px;
}

#input {
    width: 340px;
    height: 40px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: calc(50% - 200px);
    background-color: #eee;
    border: none;
    border-radius: 10px;
}

#send {
    position: absolute;
    margin-top: -41px;
    margin-left: calc(50% + 140px);
    background-color: rgb(210, 210, 210);
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#send ion-icon {
    font-size: 20px;
    margin-top: 10px;
}

/* .copyright {
    margin-left: calc(50% - 136.65px);
    margin-bottom: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
} */

@media (max-width: 1000px) {
    #chatContent {
        margin-top: 15px;
        margin-left: calc(50% - 175px);
        width: 350px;
        height: 500px;
    }

    #input {
        width: 290px;
        margin-top: 5px;
        margin-left: calc(50% - 175px);
    }

    #send {
        margin-left: calc(50% + 115px);
    }

    .background {
        margin-top: -5px;
        margin-left: calc(50% - 188px);
        width: 360px;
        height: 557px;
    }

}